<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bienvenidxs a</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
            <header class="header">
                <div class="container logo-nav-container">
                    <a href="#" class="logo">LOGO</a>
                    <nav class="navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Cars</a></li>
                            <li><a href="/compare">Compare</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main class="main">
                
                <div class="carrusel">
                    <h1>Seré el carrusel</h1>
                </div>

                <div class="busqueda">
                    <div class="combos">
                        <select name="Marca" id="marca">
                            <option>Marca</option>
                            <option value="marca1">Marca 1</option>
                            <option value="marca2">Marca 2</option>
                            <option value="marca3">Marca 3</option>
                            <option value="marca4">Marca 4</option>
                            <option value="marca5">Marca 5</option>
                        </select>

                        <select name="Modelo" id="modelo">
                            <option>Modelo</option>
                            <option value="modelo1">Modelo 1</option>
                            <option value="modelo2">Modelo 2</option>
                            <option value="modelo3">Modelo 3</option>
                            <option value="modelo4">Modelo 4</option>
                            <option value="modelo5">Modelo 5</option>
                        </select>

                        <select name="Km" id="km">
                            <option>Kilometros</option>
                            <option value="km-bajo">0 - 10000</option>
                            <option value="km-medio">10000 - 50000</option>
                            <option value="km-alto">50000 - 100000</option>
                            <option value="mas">+ 100000</option>
                        
                        </select>

                        <select name="Tipo" id="tipo">
                            <option>Tipo</option>
                            <option value="tipo1">Tipo 1</option>
                            <option value="tipo2">Tipo 2</option>
                            <option value="tipo3">Tipo 3</option>
                            <option value="tipo4">Tipo 4</option>
                            <option value="tipo5">Tipo 5</option>
                        </select>
                    </div>
                    <div class="boton-buscar">
                        <button class="buscar">Buscar</button>
                    </div>
                </div>

                <div class="productos">
                    <article>
                        <img src="images/auto-standar.jfif">
                        <div class="articulo-principal">
                            <p class="nombre-auto">Marca y modelo</p>
                            <p class="precio">$xxxx</p>
                            <h4 class="description">Un auto</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/auto-standar.jfif">
                        <div class="articulo-principal">
                            <p class="nombre-auto">Marca y modelo</p>
                            <p class="precio">$xxxx</p>
                            <h4 class="description">Un auto</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/auto-standar.jfif">
                        <div class="articulo-principal">
                            <p class="nombre-auto">Marca y modelo</p>
                            <p class="precio">$xxxx</p>
                            <h4 class="description">Un auto</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/auto-standar.jfif">
                        <div class="articulo-principal">
                            <p class="nombre-auto">Marca y modelo</p>
                            <p class="precio">$xxxx</p>
                            <h4 class="description">Un auto</h4>
                        </div>
                    </article>
                </div>

            </main>

            <footer class="footer">
                <div class="container">
                    <p>Soy el footer</p>
                </div>
            </footer>

    </body>

</html>